@layer remanx {

    .rx-image-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgba(0,0,0,0.5);
        align-items: center;
        justify-content: center;
    }

    .rx-image {
        position: relative;
        display: inline-flex;

        &:hover > .rx-image-button-preview {
            opacity: 1;
        }
    }

    .rx-image-button-preview {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s;
        border: 0 none;
        padding: 0;
        background-color: rgba(0,0,0,0.5);
    }

    .rx-image-toolbar {
        position: absolute;
        display: flex;
        inset-block-start: 1rem;
        inset-inline-end: 1rem;
        inset-inline-start: auto;
        inset-block-end: auto;
    }

    .rx-image-original {
        max-width: 100dvw;
        max-height: 100dvh;
    }


}
