@layer remanx {

    .rx-popover {
        position: absolute;
        border: 1px solid #ccc;
        min-width: 100px;
        min-height: 100px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 8px 8px 25px -10px #ddd;
        margin: 0.5rem 0;
        padding: 0.5rem;
    }

    .rx-popover-flipped {
        transform: translateY(-100%);
    }
}
