@layer remanx {
    .rx-card-outer {
        padding: 1rem;
    }

    .rx-card {
        border: 1px solid #ccc;
        min-width: 100px;
        min-height: 100px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 8px 8px 25px -10px #ddd;
        width: auto;
        height: auto;
        margin: 0.5rem 0;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
