@layer remanx {
  .rx-sidebar {
    position: fixed;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
  }

  .rx-sidebar-content {
    position: relative;
    overflow-y: auto;
    flex-grow: 1;
  }

  .rx-sidebar-left {
    left: 0;
    width: 20rem;
    height: 100%;
  }

  .rx-sidebar-right {
    right: 0;
    width: 20rem;
    height: 100%;
  }

  .rx-sidebar-overlay {
    top: 0;
    z-index: 1;
  }
}
