@layer base, remanx;


.layout {
  display: flex;
  flex-direction: row;
}

/* Sidebar au-dessus du header */
.sidebar-above-header {
  position: absolute;
  top: 0;
  z-index: 10; /* Exemple : z-index pour passer au-dessus */
}

/* Sidebar en dessous du header */
.sidebar-below-header {
  position: relative;
  margin-top: 100px; /* Ajuste en fonction de la hauteur du header */
}

/* Sidebar au-dessus du footer */
.sidebar-above-footer {
  position: absolute;
  bottom: 0;
  z-index: 10;
}

/* Sidebar en dessous du footer */
.sidebar-below-footer {
  position: relative;
  margin-bottom: 100px; /* Ajuste en fonction de la hauteur du footer */
}

/* Sidebar au-dessus du contenu */
.sidebar-above-content {
  position: absolute;
  z-index: 5; /* Ajuste le z-index pour passer au-dessus du contenu */
}

/* Sidebar en dessous du contenu */
.sidebar-below-content {
  position: relative;
}

.q-layout {
  position: relative;
  overflow: hidden;
}

.q-layout-container {
  position: relative;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll {
  overflow: auto;
  height: 100%;
}
